@font-face{
	font-family: Oswald-Regular;
	src: url(../fonts/oswald/Oswald-Regular.ttf);
}
@font-face{
	font-family: Oswald-Light;
	src: url(../fonts/oswald/Oswald-Light.ttf);
}
@font-face{
	font-family: Oswald-Bold;
	src: url(../fonts/oswald/Oswald-Bold.ttf);
}

h1{
	font-family: Oswald-Bold;
	font-weight: 700;
}
h2{
	font-family: Oswald-Regular;
	font-weight: 400;
}